In [1]:
import pandas as pd

In [6]:
df_item_ml1m = pd.read_csv("../raw_data/ml-1m/ml-1m.item", sep="\t")
df_item_ml1m

,item_id:token,movie_title:token_seq,release_year:token,genre:token_seq
0,1,Toy Story,1995,Animation Children's Comedy
1,2,Jumanji,1995,Adventure Children's Fantasy
2,3,Grumpier Old Men,1995,Comedy Romance
3,4,Waiting to Exhale,1995,Comedy Drama
4,5,Father of the Bride Part II,1995,Comedy
...,...,...,...,...
3878,3948,Meet the Parents,2000,Comedy
3879,3949,Requiem for a Dream,2000,Drama
3880,3950,Tigerland,2000,Drama
3881,3951,Two Family House,2000,Drama
3882,3952,"Contender, The",2000,Drama Thriller

In [7]:
years = df_item_ml1m["release_year:token"].apply(int)

In [9]:
years.min(), years.max()

(1919, 2000)

In [12]:
df_train_lfm = pd.read_pickle("../cleaned_data/lfm-1b_train.pkl")
df_val_lfm = pd.read_pickle("../cleaned_data/lfm-1b_val.pkl")
df_test_lfm = pd.read_pickle("../cleaned_data/lfm-1b_test.pkl")

In [13]:
df_all_lfm = pd.concat([df_train_lfm, df_val_lfm, df_test_lfm])

In [18]:
converted_ts = pd.to_datetime(df_all_lfm.timestamp, unit="s")

In [19]:
converted_ts

19101540   2005-02-14 00:00:46
42786917   2005-02-14 00:25:48
42786916   2005-02-14 02:28:06
44969300   2005-02-14 02:35:53
44969299   2005-02-14 02:38:54
                   ...
64416797   2014-09-01 23:30:52
64416796   2014-09-01 23:37:13
64416795   2014-09-02 00:00:54
38705392   2016-08-11 04:09:55
6799046    2033-04-21 20:33:07
Name: timestamp, Length: 15024267, dtype: datetime64[ns]